body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F0F2F5; /* Светлый фон для контраста с меню */
}

.menu {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    background-color: #004040;
    color: white;
    padding: 10px 0;  /* Убедитесь, что этот padding соответствует padding в .user-info */
}


.menu ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: stretch;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu li a {
    color: white;
    padding: 10px 20px; /* Немного больше отступ для визуального комфорта */
    text-decoration: none;
    display: flex;
    align-items: center;
    height: 100%;
    transition: background-color 0.3s ease; /* Плавный переход для фона */
}

.menu li a:hover {
    background-color: #006a6a; /* Темно-синий при наведении */
}

.logo, .user-info {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.center-menu {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.center-menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: stretch;
}

.user-info {
    min-width: 14.01vh;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-right: 10px;  /*   =  */
    padding-left: 10px;   /* Аналогично проверьте padding слева */
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    top: calc(100% + 10px);  /* Начинается непосредственно под user-info */
    left: -10px;  /* Корректировка на padding, если padding у user-info 10px */
    width: auto;
    overflow-x: hidden;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}
