{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
</head>
<body>
<nav class="menu">
    <div class="logo">
        <!-- Пример логотипа -->
        <img src="{% static 'icon.png' %}" alt="Logo" style="height: 50px;">
    </div>
    <div class="center-menu">
        <!-- Центральные кнопки меню -->
        <ul>
            <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
{#            <li><div>Dashboard</div></li>#}
            <!-- Другие ссылки -->
        </ul>
    </div>
    <div class="user-info" onclick="toggleDropdown()">
        <img src="{{ avatar }}" alt="User Avatar" class="avatar">
        <span>{{ username }}</span>
        <div id="userDropdown" class="dropdown-content" style="display:none;">
            <a href="{% url 'profile' %}">Профиль</a>
            <a href="{% url 'settings' %}">Настройки</a>
            <a href="{% url 'logout' %}">Выйти</a>
        </div>
    </div>

</nav>


{% block content %}
{% endblock %}
<script src="{% static 'base.js' %}"></script>

<!-- Сюда можно добавить общий footer, если он у вас есть -->
</body>
</html>
